<h2>Lista de Deseos</h2>
<br>
<div class="row row-flex">
  <div class="col-md-3 pb-4" *ngFor="let deseo of deseos">
    <div class="card">
      <img class="card-img-top" src="{{deseo.producto.imagenUrl}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{deseo.producto.nombre}}</h5>
        <p class="card-text">Precio : $ {{deseo.producto.precio}}
          <br>Cantidad : {{deseo.producto.cantidad}}</p>
        <button type="button" class="btn btn-danger" (click)="eliminarDeseo(deseo.id)">Eliminar</button>
      </div>
    </div>
  </div>
</div>
