<h2>Catálogo de Productos</h2>
<br>
<div class="row row-flex">
  <div class="col-md-3 pb-4" *ngFor="let producto of productos">
    <div class="card">
      <img class="card-img-top" src="{{producto.imagenUrl}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{producto.nombre}}</h5>
        <p class="card-text">Precio : $ {{producto.precio}}
          <br>Cantidad : {{producto.cantidad}}</p>
        <!--<a *ngIf="!esDeseado(producto.id)" href="" (click)="agregarDeseo(producto.id)" class="btn btn-primary">Agregar</a>-->
        <button *ngIf="!esDeseado(producto.id)" type="button" class="btn btn-primary" (click)="agregarDeseo(producto.id)">Agregar</button>
        <button *ngIf="esDeseado(producto.id)" type="button" class="btn btn-primary" disabled>Agregar</button>
      </div>
    </div>
  </div>
</div>
